.pss {
	position: relative;
	margin-top: 30px;
	background-color: #EEE;
}

.pss__prev,
.pss__next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: black;
	color: white;
	padding: 5px 10px;
}

.pss__prev {
	left: -30px;
}

.pss__next {
	right: -30px;
}

.pss__items {
	display: none;
}

.pss_item {

}

.pss__set {
}

.pss__set::after {
	display: block;
	content: "";
	clear: both;
}

.pss__set-column {
	float: left;
	width: 150px;
}